page-about {

  .btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #488aff;

    box-shadow: 2px 2px 2px grey;
  }

  .add-button{
    font-size: 30px;
    padding-top: 5px;
    color: white;
    display: block;
  }

  .outer{
    text-align: center;
  }

  .inner{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(211, 64, 64);
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
    background-color: rgba(211, 64, 64, 0.103);
  }

  .transp-icon{
    font-size: 30px;
    padding-top: 5px;
  }

  h6 {
    margin-bottom: 0;
  }

}
