page-about {

  .btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    left: 50%;
    margin-top: -15px;

  }

  .center-lab {

    

    position: absolute;
    
    left: 39%;

    margin: auto;
    margin-top: -45px;

  }

  .center-card {
    border-style: solid;
    border-width: 1px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .add-button{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
  }
}
