page-contact {

}

		.select-text {
				width: 75px;
        height: 25px;
				border-radius: 8px;
        margin-left: 10px;
        margin-bottom: 15px;
		}
		.color {
			background-repeat:no-repeat;
			background-size: contain;
			height: 100px;
			margin-bottom: 16px;
		}
