<ion-content>
  <h3 style="padding: 10px">Settings</h3>
  <ion-list>
    <ion-list-header>Gender</ion-list-header>
    <ion-item *ngIf="gender == 1">
      Male
    </ion-item>
    <ion-item *ngIf="gender != 1">
      Female
    </ion-item>
  </ion-list>

<ion-list>
  <ion-list-header>Character</ion-list-header>
  <div [ngStyle]="{'background-image': color}" class="color"></div>

  <ion-list-header>Notficiations</ion-list-header>
  <ion-item>
    {{notifications}}
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>Temperature Cutoffs</ion-list-header>
  <ion-item>
      Cold temperature cutoff (degrees): {{tempCold}}
      <br/><br/>
      Warm temperature cutoff (degrees): {{tempWarm}}
  </ion-item>
</ion-list>

<button style="margin: 20px" ion-button color="primary" (click)="update()">Update</button>
<button style="margin: 20px; margin-left:0px;" ion-button color="secondary" (click)="clearCache()">Clear Cache</button>
<p style="padding-left: 10px">Weather graphics provided by amCharts.</p>
</ion-content>
