page-home {
.gif{
  height: 170px;
  width: 170px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-size: cover;
}
.temp{

  position: absolute;
  top: 160px;
  right: 76px;
  color: white;
  font-size: 45px;
  font-weight: 700;
}

.graphic{
  font-size: 40px;
  color: black;
  background: transparent;
  position: absolute;
  top: 415px;
  right: 55px;
}
}
