page-settings-set {

}


.colorselect {
		.select-text {
				width: 150px;
				border-radius: 5px;
				font-size: 0px;
				margin-bottom: 0px;
		}

		.alert-radio-inner,
		.alert-radio-icon,
		.alert-radio-label {
				display: none;
		}

		&.backgroundChange{
			background-color: #488aff;
		}

		&.colorselected:before {

				color: white;
				z-index: 999999;
				width: 100%;
				height: 100%;
				left: 50%;
				top: 50%;
				position: relative;
				transform: translate(-50%);

		}

		$colorsToSelect: '270452106_2-s1' '270452106_2-s1' '270452105_2-s1' '270452098_2-s1' '270452091_2-s1' '270452076_2-s1' '270452062_2-s1' '270452058_2-s1' '270452214_2-s1' '270452208_2-s1' '270452200_2-s1' '270452176_2-s1' '270452131_2-s1' '270452117_2-s1' '270452103_2-s1';

		@each $colorOption in $colorsToSelect {
				$colorWithoutHash: $colorOption;

				&.color_#{$colorWithoutHash} {
						&, & .select-text {
								background-image: url("https://render.bitstrips.com/v2/cpanel/10212369-" + $colorOption + "-v1.png?transparent=1&amp;palette=1&amp;width=300");
								background-position: center;
								background-repeat:no-repeat;
								background-size: contain;
								height: 100px;
						}
				}
		}
}
